* {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
p, h1 {
    padding: 8px 0;
}
img {
    width: 100%;
    display: block;
    margin: auto;
}
.container {
    padding: 16px;
}

#goat_game {
    border-width: 4px;
    border-color: #39c;
    border-style: solid;
    padding: 16px;
    background-color: #ccc;
}
#goat_game button {
    padding: 8px;
    display: block;
    width: 50%;
    margin: auto;
}

#ghoul_e_frame {
    position: fixed;
    bottom: 0;
    right: 0;
    width:  128px;
    height: 128px;
}
#ghoul_e_page {
    overflow: hidden;
}
#ghoul_e {
    width:  128px;
    height: 128px;
}
#ghoul_e:hover .socket {
    fill: hsl(0, 100%, 49%);
    stroke: rgb(104, 0, 104);
}
#ghoul_e:hover .bone {
    stroke: rgb(104, 0, 104);
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries reference */

@media (min-width: 640px) {
    body {
        background-color: darkblue;
    }
    img {
        width: 75%;
    }

    .container {
        width: 500px;
        margin: auto;
        background-color: white;
    }
 }